# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
test_env

# Environment variables and secrets
.env
config/secrets/*
!config/secrets/*.template.json

# IDE
.idea/
.vscode/
*.swp
.cursor/

# Project specific
*access_token.txt
*.log
UpstoxData/

# OS
.DS_Store
Thumbs.db
